.card {
    width: 280px;
    height: 335px;
    border-radius: 30px;
    background: transparent;
    box-shadow: 15px 15px 30px #bebebe,
                -10px -10px 30px #ffffff98;
    
}

.card:hover {
    box-shadow: 20px 20px 40px #bebebe,
    -15px -15px 30px #ffffff;
    transform: translateY(3%);
}

.card img {
    width: 50%;
    height: 50%;
}

.card .contenidoCard {
    padding: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
}

.nombre_card {
    font-weight: 800;
    font-size: 28px;
    text-shadow: rgb(0 0 0 / 10%) -1px 0, rgb(0 0 0 / 10%) 0 -1px, rgb(255 255 255 / 10%) 1px 0, rgb(255 255 255 / 10%) 0 1px, rgb(0 0 0 / 10%) -1px -1px, rgb(255 255 255 / 10%) 1px 1px;
    color: rgba(128, 128, 128, 0.078);
    background: transparent;
    margin: 5px;
    display:inline-block;
}

.card .contenidoCard h5 {
    font-size: 10px;
    line-height: 1.5;
    color: #6a6a6a;
}

.temperamentCard {    
    text-shadow: rgb(0 0 0 / 10%) -1px 0, rgb(0 0 0 / 10%) 0 -1px, rgb(255 255 255 / 10%) 1px 0, rgb(255 255 255 / 10%) 0 1px, rgb(0 0 0 / 10%) -1px -1px, rgb(255 255 255 / 10%) 1px 1px;
    color: var(--background-body);
    background: transparent;
    margin: 5px;
    display:inline-block;
}

