body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: var(--background-body);
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    background: #ee0979;
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    background: linear-gradient(to right, #ff6a00, #ee0979);

}
.bodyContainer{
    display: flex;
    gap: 5rem;
}
.cardContainer {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4em 1em;
    margin: 1em 25%;
}

@media screen and (max-width: 768px) {
    .cardContainer{
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 300px;
        margin-top: 3rem;
        gap: 4rem;
    }
}

.Loader {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Assets/background-footer.svg);
    background-size: cover;
    background-color: #ffffff98;
    -webkit-mask-image: url(../Assets/background-footer.svg);
    mask-image: url(../Assets/background-footer.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    padding-top: 6rem;
}
.buttonPaginado {
    margin: 1rem;
    color: black;
    background-color: transparent;
    padding: 8px 16px;
    text-decoration: none;
    border: 2px solid #cac7ff;
    gap: 1rem;
}